{% for commander in commanders %}

Commander {{ commander.cmdr_type }} {{ commander.name }}
Species: {{ commander.species }}
{% if commander.rank %}
Rank: {{ commander.rank }}
{% else %}
Rank: None
{% endif %}
Status: {{ commander.status }}
Current Assignment: {{ commander.assignment }}
{% if commander.traits is defined %}

Traits:
{% for trait in traits %}
- {trait}
{% endfor %}
{% endif %}

{% if commander.medals is defined %}
Achievements of {{ commander.cmdr_type }} {{ commander.name }}
{% for medal in commander.medals %}
- {{ medal.name }} awarded for {{ medal.reason }}
{% endfor %}
{% endif %}

{% if commander.history is defined %}
History of {{ commander.cmdr_type }} {{ commander.name }}
{% for entry in commander.history %}
- {{ entry.time }}: {{ entry.text }}
{% endfor %}
{% endif %}
---
{% endfor %}