# Race Overview

**Name**: {{ race.name }}
**Wealth**: {{ race.wealth|round(2, 'floor') }}
**Population**: {{ race.population|round(2, 'floor') }} million

# Colonies

{% for name, colonies in race.colonies.items() %}

## System: {{ name }}

{% for colony in colonies %}
**Name**: {{ colony.name }}
{% if colony.capital%}
**Capital**:  {{ colony.capital }}
{% endif %}
**Population**: {{ colony.population|round(2, 'floor') }} million

<details>
<summary>Installations</summary>
{% for installation in colony.installations %}
- {{ installation['Amount']|round(0, 'floor') }}x - {{ installation['Name'] }}
{% endfor %}
</details>

<details>
<summary>Ressources</summary>

{% for ressource, item in colony.ressources.items() %}
- {{ ressource }}: Stockpile: {{ item['available']|round(2, 'floor') }} - Reserve {{ item['reserve']|round(2, 'floor') }}
{% endfor %}
</details>

---
{% endfor %}
{% endfor %}

# Shipyards of {{ race.name }}

{% for shipyard in shipyards %}
## Shipyard {{ shipyard.name }}
**Location**: {{ shipyard.location }}
**Slipways**: {{ shipyard.capacity }}
**Capacity**: {{ shipyard.tooled_for }}
**Tooled for**: {{ shipyard.slipways }}

{% endfor %}