Shipclass {{ shipclass.name }}

{% for component_type, components in shipclass.components.items() %}
{{ component_type }}
{% for component in components %}
- {{ component.Name }}
{% endfor %}
{% endfor %}
---